<div #header>
  <h1>Email Listings:</h1>
  <!--<p></p>-->
</div>
<app-error-message [messageType]="validationMessage" ></app-error-message>
<form #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm)">
  <label for="email">Email address:</label>
  <input type="text" class="form-control" required name="email" [(ngModel)]="model.emailAddress">
  <!--disable button till ng-dirty-->
  <button [disabled]="formEmpty()">Submit</button>
</form>
<div #display>
  <select>
    <option *ngFor="let email of emailList" [value]="email">{{email}}</option>
  </select>
</div>